<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picnic Show</title>
</head>
<body> -->
<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-3">
      <img src="<%= picnic.image %>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%= picnic.title %></h5>
        <p class="card-text"><%= picnic.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= picnic.location %></li>
      </ul>
      <div class="card-body">
        <a class="card-link btn btn-info" href="/picnics/<%=picnic._id%>/edit"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/picnics/<%=picnic._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
    <h3>Leave a Review</h3>
    <form
      action="/picnics/<%=picnic._id%>/reviews"
      method="POST"
      class="mb-3 validated-form"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label" for="">Rating</label>
        <input
          class="form-range"
          type="range"
          min="1"
          max="5"
          id="rating"
          name="review[rating]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Review</label>
        <textarea
          class="form-control"
          name="review[body]"
          id="body"
          cols="30"
          rows="3"
          required
        ></textarea>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <% for(let review of picnic.reviews) { %>
    <div class="mb-3">
      <p>Rating: <%= review.rating %></p>
      <p>Review: <%= review.body %></p>
    </div>
    <% } %>
  </div>
</div>
<!-- <h1><%= picnic.title %></h1>
    <h2><%= picnic.location %></h2>
    <img src="<%= picnic.image %>" alt="">
    <p><%= picnic.description %></p>
        <p><a href="/picnics/<%=picnic._id%>/edit">Edit</a></p>
        <p>
            <form action="/picnics/<%=picnic._id%>?_method=DELETE" method=POST>
                <button>Delete</button>
            </form>
        </p> -->
<!-- <footer>
        <a href="/picnics">All Picnic Sites</a>
    </footer> -->
<!-- </body>
</html> -->
